/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #222;
}

/* || VARIABLES*/

:root {
  --BGCOLOR: red;
  --BORDER-COLOR: black;
}

/* || GENERAL STYLES */

.working {
  background-color: yellow;
}

.not-working {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
/* || UTILITIES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* BEM */
/* BORDER */
.border {
  width: 450px;
  height: 600px;
  margin: 100px auto 20px;
  border: 1px solid red;
  background-color: #352f44;
}
/* TITLE */
.title {
  height: 5%;
}
/* RESULT */
.result {
  height: 15%;
}
.result__screen {
  background-color: #faf0e6;
  font-size: 2.4rem;
  text-align: right;
  padding: 1rem;
}

/* MAINTENANCE */
.maintenance {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.maintenance__button {
  background-color: #5c5470;
}

/* MAIN */
.main {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.main__button {
  background-color: #b9b4c7;
  margin: 1rem;
}

.button-plus {
  grid-area: span 2;
}

/*ATTRIBUTION*/
.attribution {
  text-align: center;
}
/* MEDIA */
/* Small */
@media (min-width: 576px) {
}
/* Medium */
@media (min-width: 768px) {
}
/* Large */
@media (min-width: 992px) {
}
/* X-Large */
@media (min-width: 1200px) {
}
